*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: "segoe UI", Tahoma,Genova,Verdana,sans-serif;

}
header{
    background: linear-gradient(to bottom,rgba(0,0,0,0.5), rgba(0,0,0, 0.85)),
    url('../img/roblox.avif') center/cover fixed;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #fff;
    

 
}

nav {
    background: rgba(0,0,0.5);
    padding: 1.5rem 3rem;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 20px rgba(0,216,255,.2);

}

nav ul {
    max-width: 1400px;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 4rem;
    list-style: none;

}

nav ul li:first-child {
    margin-right: auto;
}

nav ul li:first-child h3 {
    color: #00d8ff;
    font-size: 2.2rem;
    font-weight: 900;

}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.15rem;
    position: relative;

}

nav a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background: #00d8ff;
    bottom: -10px;
    transform: scaleX(0);
    transition: .3s;
}

nav a:hover::before {
    transform: scaleX(1);

}

.hero {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;

}

.hero h1 {
    font-size: 120px;
    font-weight: 900;
    color: transparent;
    -webkit-text-stroke: 3px #fff;
    text-shadow: 6px -6px 1px #00d8ff;

}

.hero p {
    font-size: clamp(1.2rem,2.5vw,1.6rem);
    max-width: 800px;
    text-shadow: 2px 2px 8px rgba(0,0,0,.9);

}

main {
    width: 90%;
    margin: auto;
}

section {
    max-width: 90%;
    margin: 40px auto;
    padding: 20px 40px;
    border-radius: 20px;
    box-shadow: 0 2px 9px 6px rgba(0,0,0,.16);

}

section h2 {
    font-size: 3.5rem;
    text-align: center;
    color: #00d8ff;
    -webkit-text-stroke: 1px #0736317c;

}

.tarjetas {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px;

}

.card {
    flex: 1 1 22%;
    max-width: 25%;
    height: 320px;
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: linear-gradient(to top, rgba(0,0,0,.4)),
     url('../img/card.jpg') center/cover no-repeat;
     cursor: pointer;
     transition: .4s;
     box-shadow: 0 10px 30px rgba(0,0,0.5);

}

.card:hover {
    transform: translate(-5px) scale(1.03);
    box-shadow: 0 20px 40px rgba(0,216,255,.3);

}

.card h3 {
    font-size: 1.8rem;
    margin-bottom: .5rem;
    color: #00d8ff;
    text-shadow: 0 0 15px rgba(0,216,255,.6);

}

.card p {
    font-size: 1.1rem;

}

.que-es {
    background-image: url('../img/seo-roblox.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;

}

.que-es div {
    width: 60%;
    padding: 40px;
    background-color: rgba(255,255,255,0.4);
    border-radius: 10px;

}

footer {
    background: linear-gradient(to top, #001122);
    padding: 3rem 1rem;
    text-align: center;
    border-top: 3px solid #00d8ff;
    color: #fff;

}

footer p {
    opacity: .8;
}